body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

    background-image: url("../background.jpg");
}
/* Estilo para o cabeçalho */
header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3px 0;
  background-color: #fff; /* Fundo branco */
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 85px;
}

.logo img {
  max-width: 150px; /* Ajuste conforme necessário */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #104086;
  font-weight: bold;
  font-size: 18px; /* Tamanho da fonte aumentado */
  transition: color 0.3s, transform 0.3s; /* Adiciona transições para mudanças de cor e transformação */
  position: relative; /* Define a posição como relativa para posicionar o pseudo-elemento */

}

/* Efeito de arco-íris ao passar o mouse sobre as janelas */
nav ul li a:hover {
  background: linear-gradient(to right, #00008B, #006400, #FFFF00); /* Efeito de arco-íris com as cores azul, verde escuro e amarelo */
  -webkit-background-clip: text; /* Recorte do fundo para o texto em navegadores WebKit */
  -webkit-text-fill-color: transparent; /* Cor do texto transparente para navegadores WebKit */
  background-clip: text; /* Propriedade padrão para recortar o fundo para o texto */
  color: transparent; /* Propriedade padrão para tornar o texto transparente */
}
/* Estilo para os slides */
.slides {
position: relative;
width: 100%;
text-align: center; /* Centralizar os slides */
}

.slide {
position: absolute;
top: 0;
left: 0;
width: 100%;
opacity: 0; /* Começa invisível */
transition: opacity 1s ease; /* Transição suave de opacidade */
}

.slide.active {
opacity: 1; /* Torna-se visível */
}

.slide img {
width: 100%; /* 100% da largura da viewport */
height: 450px; /* Altura fixa para formar um retângulo */
object-fit: cover; /* Mantém a proporção da imagem e corta o excesso para preencher */
}
/* Outros estilos conforme necessário */
/* Estilo para o formulário */

.sobre{  
  max-width: 1440px;
  margin: 550px auto;
  display: flex;
  justify-content: space-between;
}
.sobre div{
  width: 500px;
}
.sobre div h1{
  font-size: 1.8rem;
  color: #104086;
}
.sobre div p{
  font-weight: 500;
}
.sobre img{
  width: 400px;
  border-radius: 5px;
}
.catalogo{
  max-width: 1440px;

  display: flex;
  justify-content: space-between;
}
.catalogo div{
  width: 500px;
}
.catalogo div h1{
  font-size: 1.8rem;
  color: #104086;
}
.catalogo div p{
  font-weight: 500;
}
.catalogo img{
  width: 400px;
  border-radius: 5px;
}