/* Estilo para o cabeçalho */
header {
    width: 100%;
    padding: 3px 0;
    background-color: #f8f8f8; /* Fundo branco
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@keyframes rainbow {
    0% { background-position: 0% 50%; } /* Início da transição */
    100% { background-position: 100% 50%; } /* Fim da transição */
}
  
  .logo img {
    max-width: 200px; /* Ajuste conforme necessário */
    display:grid;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
  }
  
  nav ul li {
    margin-right: 100px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000; /* Cor preta */
    font-weight: bold;
    font-size: 32px; /* Tamanho da fonte aumentado */
    transition: color 0.3s, transform 0.3s; /* Adiciona transições para mudanças de cor e transformação */
    position: relative; /* Define a posição como relativa para posicionar o pseudo-elemento */
  
  }
  
  /* Efeito de arco-íris ao passar o mouse sobre as janelas */
  nav ul li a:hover {
    background: linear-gradient(to right, #00008B, #006400, #FFFF00); /* Efeito de arco-íris com as cores azul, verde escuro e amarelo */
    -webkit-background-clip: text; /* Recorte do fundo para o texto em navegadores WebKit */
    -webkit-text-fill-color: transparent; /* Cor do texto transparente para navegadores WebKit */
    background-clip: text; /* Propriedade padrão para recortar o fundo para o texto */
    color: transparent; /* Propriedade padrão para tornar o texto transparente */
  }

  /* Estilo básico para o botão */
.entrar-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para mudar a cor de fundo */
.entrar-btn:hover {
    background-color: #0056b3;
}

/* Efeito de animação quando clicado */
.entrar-btn:active {
    transform: translateY(2px);
}

/* botao blobs*/
button:hover {
  transform: scale(1.1);
}


/* Estilos para a seção "Temos Vagas" */
#vagas {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para os contêineres de vaga */
.vaga {
  width: calc(33.33% - 20px); /* 33.33% para cada vaga */
  margin: 0 10px 30px; /* Margem nas laterais e na parte inferior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilos para a seção "Temos Vagas" com 3/3 contêineres */
#vagas .container:nth-child(odd) .vaga {
  width: calc(33.33% - 20px);
}

/* Estilos para a seção "Temos Vagas" com 3/3 contêineres */
#vagas .container:nth-child(even) .vaga {
  width: calc(33.33% - 20px);
}

/* Ajustes para colocar "Temos Vagas" no topo centralizado */
#vagas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* Ajustes para os contêineres em duas colunas */
@media (min-width: 768px) {
  .container {
      display: flex;
      justify-content: space-between;
  }

  #vagas .container:nth-child(odd) .vaga,
  #vagas .container:nth-child(even) .vaga {
      width: calc(49% - 20px);
      margin-bottom: 30px;
  }
}
/* Estilos para os botões de participar */
.participar-btn {
  background-color: #4caf50; /* Cor verde */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionando transição suave */
}

.participar-btn:hover {
  background-color: #388e3c; /* Mudança de cor no hover */
}

/* Estilos para os contêineres de vaga */
.vaga {
  width: calc(33.33% - 20px); /* 33.33% para cada vaga */
  margin: 0 10px 30px; /* Margem nas laterais e na parte inferior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease; /* Adicionando transição suave */
}

/* Estilos para a animação ao passar o mouse sobre os contêineres */
.vaga:hover {
  transform: scale(1.05); /* Aumentar em 5% ao passar o mouse */
}


/* Estilos para os contêineres de Missão, Valores e Visão */
#missao-valores-visao {
  background-color: #f9f9f9;
  padding: 50px 0;
}

#missao-valores-visao .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-item {
  width: calc(33.33% - 20px); /* 33.33% para cada contêiner */
  margin: 0 10px 20px; /* Margem nas laterais e menos espaço inferior */
  padding: 20px; /* Espaçamento interno uniforme */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease; /* Adicionando transição suave */
  display: flex; /* Adicionando para utilizar flexbox */
  flex-direction: column; /* Ajustando a direção para coluna */
  justify-content: space-between; /* Espaço entre os elementos */
  height: 350px; /* Altura inicial dos contêineres */
}

.container-item h3 {
  margin-top: 0; /* Remover margem superior padrão do título */
}

.container-item p {
  margin-top: 20px; /* Espaço entre o título e a descrição */
  flex-grow: 1; /* Fazer a descrição ocupar o espaço restante */
}

.container-item:hover {
  transform: scale(1.05); /* Aumentar em 5% ao passar o mouse */
}


.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}





/* Definindo a animação do waypoint nicolas */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Aplicando a animação aos elementos com a classe 'visible' */
.waypoint.visible {
  animation: fadeIn 4s ease forwards;
}


/*decoração container*/

.container-item {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.container-item h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.container-item p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

.container-item img {
  max-width: 100px;
  margin-bottom: 10px;
}


#papel-empresa .container {
  text-align: center;
  margin-top: 50px;
}

#papel-empresa .container-item {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  
}

#papel-empresa .container-item h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

#papel-empresa .container-item p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}


#papel-empresa.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#papel-empresa.visible {
  opacity: 1;
  transform: translateY(0);
}
